<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.forutona.FcubeDao.FcubequestsuccessExtender1Mapper">
  <resultMap id="BaseResultMap" type="com.wing.forutona.FcubeDto.FcubequestsuccessExtender1">

    <id column="reqno" jdbcType="INTEGER" property="reqno" />
    <result column="Cubeuuid" jdbcType="VARCHAR" property="cubeuuid" />
    <result column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="FromUid" jdbcType="VARCHAR" property="fromuid" />
    <result column="ReadingCheck" jdbcType="INTEGER" property="readingcheck" />
    <result column="ScuessCheck" jdbcType="INTEGER" property="scuesscheck" />
    <result column="ReqTime" jdbcType="TIMESTAMP" property="reqtime" />
    <result column="JudgmentTime" jdbcType="TIMESTAMP" property="judgmenttime" />
    <result column="Content" jdbcType="LONGVARCHAR" property="content" />
    <result column="NickName" jdbcType="VARCHAR" property="nickname" />
    <result column="ProfilePicktureUrl" jdbcType="VARCHAR" property="profilepicktureurl" />
    <result column="UserLevel" jdbcType="DOUBLE" property="userlevel" />
  </resultMap>

  <select id="getQuestReqList" parameterType="com.wing.forutona.FcubeDto.FcubequestsuccessExtender1" resultMap="BaseResultMap" >
    SELECT  A.reqno, A.Cubeuuid, A.Uid, A.FromUid, A.ContentType, A.ReadingCheck, A.ScuessCheck, A.ReqTime,
    A.JudgmentTime, A.Content,B.NickName,B.ProfilePicktureUrl,B.UserLevel FROM FcubeQuestSuccess A LEFT JOIN UserInfo B ON A.FromUid = B.Uid
    WHERE A.Cubeuuid = #{cubeuuid} AND A.Uid = #{uid} ORDER BY ScuessCheck asc,ReqTime asc
  </select>
  <update id="updateQuestReq" parameterType="com.wing.forutona.FcubeDto.FcubequestsuccessExtender1">
    UPDATE  FcubeQuestSuccess
    set ReadingCheck = #{readingcheck},
    ScuessCheck = #{scuesscheck},
    JudgmentTime = #{judgmenttime}
    WHERE Cubeuuid = #{cubeuuid} AND FromUid = #{fromuid}
  </update>
</mapper>