<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.forutona.FcubeDao.FcubeplayercontentExtender1Mapper">
  <resultMap id="BaseResultMap" type="com.wing.forutona.FcubeDto.FcubeplayercontentExtender1">
    <id column="idx" jdbcType="INTEGER" property="idx" />
    <result column="Cubeuuid" jdbcType="VARCHAR" property="cubeuuid" />
    <result column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="ContentType" jdbcType="VARCHAR" property="contenttype" />
    <result column="ContentUpdateTime" jdbcType="TIMESTAMP" property="contentupdatetime" />
    <result column="ContentValue" jdbcType="LONGVARCHAR" property="contentvalue" />
  </resultMap>
  <select id="selectwithFcubeplayercontentSelector"
          parameterType="com.wing.forutona.FcubeDto.FcubeplayercontentSelector"
          resultMap="BaseResultMap">
    SELECT  idx, Cubeuuid, Uid, ContentType, ContentUpdateTime, ContentValue FROM FcubePlayerContent
    <where>
      AND Cubeuuid = #{cubeuuid} AND Uid = #{uid}
      AND ContentType IN
      <foreach collection="contenttypes" item="type"  open="(" close=")" separator=",">
        #{type}
      </foreach>
    </where>
  </select>
  <update id="updateFcubeplayercontent" parameterType="com.wing.forutona.FcubeDto.FcubeplayercontentExtender1">
    update FcubePlayerContent
    set
      ContentUpdateTime = #{contentupdatetime,jdbcType=TIMESTAMP},
      ContentValue = #{contentvalue,jdbcType=LONGVARCHAR}
    where
    ubeuuid = #{cubeuuid,jdbcType=VARCHAR}
    AND Uid = #{uid,jdbcType=VARCHAR}
    AND ContentType = #{contenttype,jdbcType=VARCHAR}
  </update>
  <delete id="deleteFcubeplayercontent" parameterType="com.wing.forutona.FcubeDto.FcubeplayercontentExtender1">
    delete from FcubePlayerContent
    where
    ubeuuid = #{cubeuuid,jdbcType=VARCHAR}
    AND Uid = #{uid,jdbcType=VARCHAR}
    AND ContentType = #{contenttype,jdbcType=VARCHAR}
  </delete>
</mapper>