<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.forutona.FcubeDao.FcubeplayerExtender2Mapper">
  <resultMap id="BaseResultMap" type="com.wing.forutona.FcubeDto.FcubeplayerExtender2">
    <id column="idx" jdbcType="INTEGER" property="idx" />
    <result column="Cubeuuid" jdbcType="VARCHAR" property="cubeuuid" />
    <result column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="HasLike" jdbcType="INTEGER" property="haslike" />
    <result column="HasDisLike" jdbcType="INTEGER" property="hasdislike" />
    <result column="HasGiveup" jdbcType="INTEGER" property="hasgiveup" />
    <result column="HasExit" jdbcType="INTEGER" property="hasexit" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="PlayState" jdbcType="INTEGER" property="playstate" />
    <result column="CubeName" jdbcType="VARCHAR" property="cubename" />
    <result column="CubeType" jdbcType="VARCHAR" property="cubetype" />
    <result column="makerUid" jdbcType="VARCHAR" property="makeruid" />
    <result column="makerNickname" jdbcType="VARCHAR" property="makernickname" />
    <result column="makerProfilepicktureurl" jdbcType="VARCHAR" property="makerprofilepicktureurl" />
  </resultMap>
  <select id="selectPlayerJoinList" parameterType="com.wing.forutona.FcubeDto.FcubeplayerSearch" resultMap="BaseResultMap">
    SELECT A.Cubeuuid,A.Uid,A.HasLike,A.HasDisLike,A.HasGiveup,A.HasExit,A.StartTime,A.PlayState,B.longitude,B.latitude,
    B.CubeName,B.CubeType,B.Uid as  makerUid,C.NickName as makerNickname,C.ProfilePicktureUrl as makerProfilepicktureurl
    FROM forutona.FcubePlayer A  LEFT JOIN Fcube B ON A.Cubeuuid = B.Cubeuuid LEFT JOIN UserInfo C ON B.Uid = C.Uid
    Where A.Uid = #{uid} ORDER BY A.StartTime desc LIMIT #{limit} OFFSET #{offset}
  </select>

</mapper>