<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.forutona.FcubeDao.FcubeExtend1Mapper">
  <resultMap id="BaseResultMap" type="com.wing.forutona.FcubeDto.FcubeExtender1">
    <id column="Cubeuuid" jdbcType="VARCHAR" property="cubeuuid" />
    <result column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="CubeName" jdbcType="VARCHAR" property="cubename" />
    <result column="CubeType" jdbcType="VARCHAR" property="cubetype" />
    <result column="MakeTime" jdbcType="TIMESTAMP" property="maketime" />
    <result column="Influence" jdbcType="DOUBLE" property="influence" />
    <result column="CubeState" jdbcType="INTEGER" property="cubestate" />
    <result column="PlaceAddress" jdbcType="VARCHAR" property="placeaddress" />
    <result column="AdministrativeArea" jdbcType="VARCHAR" property="administrativearea" />
    <result column="Country" jdbcType="VARCHAR" property="country" />
    <result column="HasPassword" jdbcType="INTEGER" property="haspassword" />
    <result column="NickName" jdbcType="VARCHAR" property="nickname" />
    <result column="ProfilePicktureUrl" jdbcType="VARCHAR" property="profilepicktureurl" />
    <result column="ContentType" jdbcType="VARCHAR" property="contenttype" />
    <result column="ContentValue" jdbcType="LONGVARCHAR" property="contentvalue" />
    <result column="PositionUpdateTime" jdbcType="TIMESTAMP" property="positionupdatetime" />
    <result column="UserLevel" jdbcType="DOUBLE" property="userlevel" />
    <result column="StarPoints" jdbcType="DOUBLE" property="starpoints" />
    <result column="FCMtoken" jdbcType="VARCHAR" property="fcmtoken" />
    <result column="MakeExp" jdbcType="DOUBLE" property="makeexp" />
    <result column="CommentCount" jdbcType="INTEGER" property="commentcount" />
    <result column="NaPoint" jdbcType="DOUBLE" property="napoint" />
    <result column="YouPoint" jdbcType="DOUBLE" property="youpoint" />
    <result column="PointReward" jdbcType="DOUBLE" property="pointreward" />
    <result column="UserExp" jdbcType="DOUBLE" property="userexp" />
    <result column="FollowCount" jdbcType="INTEGER" property="followcount" />
    <result column="distance" jdbcType="DOUBLE" property="distance" />
  </resultMap>

  <select id="selectUserBoxAll" parameterType="com.wing.forutona.FcubeDto.Fcube" resultMap="BaseResultMap">
    SELECT A.Cubeuuid, A.Uid, A.longitude, A.latitude, A.CubeName, A.CubeType, A.MakeTime, A.Influence,
    A.CubeState, A.PlaceAddress, A.AdministrativeArea, A.Country, A.PointReward, A.InfluenceReward,A.HasPassword,
    A.ActivationTime, A.CubeScope, A.InfluenceLevel, A.CubeHits, A.CubeLikes, A.CubeDisLikes,A.JoinPlayer,A.CommentCount,
    A.NaPoint,A.YouPoint,A.PointReward,A.UserExp,
    A.MaximumPlayers,A.StarPoints,A.MakeExp,B.NickName,B.ProfilePicktureUrl,B.PositionUpdateTime,B.UserLevel,B.fcmtoken,B.FollowCount FROM Fcube A LEFT JOIN UserInfo B ON A.Uid = B.Uid
    <where>
      A.Uid = #{uid}
    </where>
  </select>
  <select id="selectUserBox" parameterType="com.wing.forutona.FcubeDto.FcubeSearch" resultMap="BaseResultMap">
    SELECT A.Cubeuuid, A.Uid, A.longitude, A.latitude, A.CubeName, A.CubeType, A.MakeTime, A.Influence,
    A.CubeState, A.PlaceAddress, A.AdministrativeArea, A.Country, A.PointReward, A.InfluenceReward,A.HasPassword,
    A.ActivationTime, A.CubeScope, A.InfluenceLevel, A.CubeHits, A.CubeLikes, A.CubeDisLikes,A.JoinPlayer,A.CommentCount,
    A.NaPoint,A.YouPoint,A.PointReward,A.UserExp,
    A.MaximumPlayers,A.StarPoints,A.MakeExp,B.NickName,B.ProfilePicktureUrl,B.PositionUpdateTime,B.UserLevel,B.fcmtoken,B.FollowCount FROM Fcube A LEFT JOIN UserInfo B ON A.Uid = B.Uid
    <where>
      A.Uid = #{uid} order by A.${orderby}
      <if test="isdesc == true">
        desc
      </if>
      <if test="isdesc == false">
        asc
      </if>
      LIMIT #{limit} offset #{offset}
    </where>
  </select>
  <select id="getFcubeExtender1" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT A.Cubeuuid, A.Uid, A.longitude, A.latitude, A.CubeName, A.CubeType, A.MakeTime, A.Influence,
    A.CubeState, A.PlaceAddress, A.AdministrativeArea, A.Country, A.PointReward, A.InfluenceReward,A.HasPassword,
    A.ActivationTime, A.CubeScope, A.InfluenceLevel, A.CubeHits, A.CubeLikes, A.CubeDisLikes,A.JoinPlayer,A.CommentCount,
    A.NaPoint,A.YouPoint,A.PointReward,A.UserExp,
    A.MaximumPlayers,A.StarPoints,A.MakeExp,B.NickName,B.ProfilePicktureUrl,B.PositionUpdateTime,B.UserLevel,B.fcmtoken,B.FollowCount FROM Fcube A LEFT JOIN UserInfo B ON A.Uid = B.Uid
    WHERE A.Cubeuuid = #{cubeuuid}
  </select>
  
  <update id="updateCubeState" parameterType="com.wing.forutona.FcubeDto.Fcube">
    UPDATE Fcube SET CubeState = #{cubestate,jdbcType=INTEGER},ActivationTime = #{activationtime,jdbcType=TIMESTAMP}
    where Cubeuuid =  #{cubeuuid,jdbcType=VARCHAR}
  </update>
  
  <select id="findInfluenceFromPositionCount" parameterType="com.wing.forutona.FcubeDto.FCubeGeoSearchUtil" resultType="java.lang.Integer">
    SELECT count(*) as countplace FROM Fcube
    WHERE mbrwithin(placePoint,
        ST_Envelope(ST_GeomFromText("LineString(${southWestlongitude} ${southWestlatitude},
                    ${northEastlongitude} ${northEastlatitude})",4326)));
  </select>
  <select id="findInfluenceFromPosition" parameterType="com.wing.forutona.FcubeDto.FCubeGeoSearchUtil" resultMap="BaseResultMap">
    SELECT A.Cubeuuid, A.Uid, A.longitude, A.latitude, A.CubeName, A.CubeType, A.MakeTime, A.Influence,
    A.CubeState, A.PlaceAddress, A.AdministrativeArea, A.Country, A.PointReward, A.InfluenceReward,A.HasPassword,
    A.ActivationTime, A.CubeScope, A.InfluenceLevel, A.CubeHits, A.CubeLikes,A.ballPower, A.CubeDisLikes,A.JoinPlayer,A.CommentCount,
    A.NaPoint,A.YouPoint,A.PointReward,A.UserExp,
    A.MaximumPlayers,A.StarPoints,A.MakeExp,B.NickName,B.ProfilePicktureUrl,B.PositionUpdateTime,B.UserLevel,B.FCMtoken,B.FollowCount,
    ST_Distance_Sphere(placePoint,ST_PointFromText("point(${longitude} ${latitude})",4326)) as distance,
    A.ballPower / ST_Distance_Sphere(placePoint,ST_PointFromText("point(${longitude} ${latitude})",4326))*10000 as InfluencePower
    FROM Fcube A LEFT JOIN UserInfo B ON A.Uid = B.Uid LEFT JOIN FcubeContent C ON  A.Cubeuuid = C.Cubeuuid
    WHERE
    st_within(A.placePoint, ST_Envelope(ST_GeomFromText("LineString(${southWestlongitude} ${southWestlatitude}, ${northEastlongitude} ${northEastlatitude})",4326)))
    AND A.ActivationTime <![CDATA[>]]> #{activationtime}
    AND A.CubeState = #{cubestate}
    AND C.ContentType = 'description'
    order BY InfluencePower desc
    LIMIT #{limit}
    OFFSET #{offset}
  </select>
</mapper>