<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.forutona.FcubeDao.FcubereplyExtender1Mapper">
  <resultMap id="BaseResultMap" type="com.wing.forutona.FcubeDto.FcubereplyExtender1">
    <id column="CommentNo" jdbcType="INTEGER" property="commentno" />
    <result column="Cuebuuid" jdbcType="VARCHAR" property="cuebuuid" />
    <result column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="Bgroup" jdbcType="INTEGER" property="bgroup" />
    <result column="Sorts" jdbcType="INTEGER" property="sorts" />
    <result column="Depth" jdbcType="INTEGER" property="depth" />
    <result column="CommentText" jdbcType="VARCHAR" property="commenttext" />
    <result column="CommentTime" jdbcType="TIMESTAMP" property="commenttime" />
    <result column="NickName" jdbcType="VARCHAR" property="nickname" />
    <result column="ProfilePicktureUrl" jdbcType="VARCHAR" property="profilepicktureurl" />
    <result column="FCMtoken" jdbcType="VARCHAR" property="fcmtoken" />
    <result column="BGroupCount" jdbcType="INTEGER" property="bgroupcount"/>
  </resultMap>

  <select id="SelectBgroubReplyMax" parameterType="com.wing.forutona.FcubeDto.Fcubereply" resultType="INTEGER">
    SELECT IFNULL(MAX(A.Bgroup)+1,1) as Bgroup FROM FcubeReply A
    <where>
      A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR} FOR UPDATE
    </where>
  </select>

  <select id="SelectStep1ForReply" parameterType="com.wing.forutona.FcubeDto.Fcubereply" resultType="INTEGER">
    <![CDATA[
    SELECT IFNULL(MIN(A.Sorts),0) FROM FcubeReply A
    WHERE  A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR} AND A.Bgroup = #{bgroup,jdbcType=INTEGER}
    AND A.Sorts >  #{sorts,jdbcType=INTEGER}
    AND DEPTH <=  #{depth,jdbcType=INTEGER} FOR UPDATE
     ]]>
  </select>
  <select id="SelectStep2ForReply" parameterType="com.wing.forutona.FcubeDto.Fcubereply" resultType="INTEGER">
    SELECT IFNULL(MAX(A.Sorts),0) + 1 FROM FcubeReply A
    WHERE A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR} AND A.Bgroup = #{bgroup,jdbcType=INTEGER} FOR UPDATE
  </select>
  <update id="UpdateStep2ForReply" parameterType="com.wing.forutona.FcubeDto.Fcubereply">
    <![CDATA[
    UPDATE FcubeReply A SET A.Sorts = A.Sorts + 1
    WHERE A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR} AND A.Bgroup = #{bgroup,jdbcType=INTEGER} AND A.Sorts >=  #{sorts,jdbcType=INTEGER}
   ]]>
  </update>
  <insert id="insert" parameterType="com.wing.forutona.FcubeDto.Fcubereply">
    insert into FcubeReply (Cubeuuid, Uid,Bgroup,
    Sorts, Depth,
    CommentText,CommentTime)
    values (#{cubeuuid,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR},#{bgroup,jdbcType=INTEGER},
    #{sorts,jdbcType=INTEGER}, #{depth,jdbcType=INTEGER},
    #{commenttext,jdbcType=VARCHAR},#{commenttime})
  </insert>
  <select id="SelectReplyForCubeGroup" parameterType="com.wing.forutona.FcubeDto.FcubereplySearch" resultMap="BaseResultMap">
    SELECT A.CommentNo, A.Cubeuuid,A.BGroup,C.BGroupCount, A.Uid, A.Sorts, A.Depth, A.CommentText, A.CommentTime,B.NickName,B.ProfilePicktureUrl,B.FCMtoken
    FROM FcubeReply A
	 LEFT JOIN UserInfo B ON A.Uid = B.Uid
	 LEFT JOIN (SELECT COUNT(*) as BGroupCount,BGRoup FROM FcubeReply WHERE Cubeuuid = #{cubeuuid,jdbcType=VARCHAR}  GROUP BY BGRoup ) C
    ON A.Bgroup = C.BGRoup
    WHERE A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR} AND Sorts = 0 AND Depth = 0
    ORDER BY A.Bgroup desc LIMIT #{limit} OFFSET #{offset}
  </select>

  <select id="SelectReplyForCube" parameterType="com.wing.forutona.FcubeDto.Fcubereply" resultMap="BaseResultMap" >
    SELECT A.CommentNo, A.Cubeuuid,A.BGroup, A.Uid, A.Sorts, A.Depth, A.CommentText, A.CommentTime,B.NickName,B.ProfilePicktureUrl,B.FCMtoken
    FROM FcubeReply A LEFT JOIN UserInfo B ON A.Uid = B.Uid
    WHERE A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR}
    ORDER BY A.Bgroup desc, A.Sorts asc
  </select>


</mapper>