<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.forutona.FcubeDao.FcubeplayerExtender1Mapper">
  <resultMap id="BaseResultMap" type="com.wing.forutona.FcubeDto.FcubeplayerExtender1">
    <id column="idx" jdbcType="INTEGER" property="idx" />
    <result column="Cubeuuid" jdbcType="VARCHAR" property="cubeuuid" />
    <result column="Uid" jdbcType="VARCHAR" property="uid" />
    <result column="HasLike" jdbcType="INTEGER" property="haslike" />
    <result column="HasDisLike" jdbcType="INTEGER" property="hasdislike" />
    <result column="HasGiveup" jdbcType="INTEGER" property="hasgiveup" />
    <result column="HasExit" jdbcType="INTEGER" property="hasexit" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="PlayState" jdbcType="INTEGER" property="playstate" />
    <result column="PositionUpdateTime" jdbcType="TIMESTAMP" property="positionupdatetime" />
    <result column="UserLevel" jdbcType="DOUBLE" property="userlevel" />
    <result column="FCMtoken" jdbcType="VARCHAR" property="fcmtoken" />
  </resultMap>
  <select id="selectPlayers" parameterType="com.wing.forutona.FcubeDto.Fcubeplayer" resultMap="BaseResultMap">
    SELECT A.idx, A.Cubeuuid, A.Uid,A.HasLike,A.HasDisLike,
    A.HasGiveup,A.StartTime,A.PlayState ,B.latitude,B.longitude,
    B.NickName,B.ProfilePicktureUrl,B.PositionUpdateTime,B.UserLevel,B.FCMtoken
     FROM FcubePlayer A LEFT JOIN UserInfo B ON A.Uid = B.Uid
    <where>
      A.Cubeuuid = #{cubeuuid,jdbcType=VARCHAR}
      <if test="uid.length != 0">
        AND A.Uid = #{uid, jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <update id="updatePlayerplaystate" parameterType="com.wing.forutona.FcubeDto.Fcubeplayer">
    UPDATE FcubePlayer SET PlayState = #{playstate}
    WHERE Cubeuuid = #{cubeuuid} AND  Uid = #{uid}
  </update>

</mapper>